ADMIN_LOGIN="admin"
ADMIN_PASSWORD="admin"

# Postgres (docker-compose)
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=music-store
POSTGRES_PORT=5432

# pgAdmin (docker-compose)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

DATABASE_URL="postgresql://root:root@localhost:5432/music-store"
